:root {
    --main-green-color: #3E755F;
    --main-yellow-color: #EEC344;
    --main-dark-color: #333333;
    --main-text-color: #737373;
    --lg-margin-top: 2rem;
    --md-margin-top: 2rem;
    --sm-margin-top: 2rem;
    --col-lg-m: 2rem;
    --col-md-m: 2rem;
    --col-sm-m: 2rem;
    --col-left-padding: 2rem;
}
:root {
    color: rgba(0, 3, 104, 0.351);
    --queeenblue: #33658A;
    --indigo: #6610f2;
    --purple: #6e42c138;
    --mdblue: #8AC6D0;
    --redorange: #FF4000;
    --redornge: #ee3c00;
    --smsmokly: #12130F;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green:#28a7461e ;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}